<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
    <link href="http://netdna.bootstrapcdn.com/bootswatch/2.3.1/united/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <style>
      .content {
        margin-top: 60px;
      }

      .inline-pad {
        padding-left: 10px;
      }

      .edit-controls {
        margin: 1em 0;
      }
    </style>
    <script>
      $(function() {
        $(".appointment-delete-link").on("click", function() {
          var delete_url = $(this).attr('data-delete-url');
          $.ajax({
            url: delete_url,
            type: 'DELETE',
            success: function(response) {
              if (response.status == 'OK') {
                window.location = {{ url_for('appointment_list') }};
              } else {
                alert('Delete failed.')
              }
            }
          });
          return false;
        });
      });
    </script>
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <div id="main">
      <div class="utility-nav navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a href="{{ url_for('appointment_list') }}" class="brand">sched</a>
            {% if current_user.is_authenticated() %}
            <ul class="nav">
              <li><a href="{{ url_for('appointment_list') }}">My Appointments</a></li>
              <li><a href="{{ url_for('appointment_create') }}">Create an Appointment</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.email }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
              </li>
            </ul>
            {% else %}
            <ul class="nav pull-right">
              <li><a href="{{ url_for('login') }}">Login</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="content container">
        {% block main %}{% endblock main %}
      </div>
    </div>
  </body>
</html>
