{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block main %}
<div class="row">
  <div class="login well offset2 span8">
    <form action="" method=post class="form-horizontal">
    <h2>Sign up for Application </h2>
    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email" value="{{ request.form.username }}"
            required>
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
          <input type="text" id="name" name="name" class="input-xlarge"
            placeholder="Enter your Full Name" value="{{ request.form.name }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>

    

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>
  </div>
</div>
{% endblock main %}
